
{# src/Minsal/SiapsBundle/Resource/view/MntPacienteAdmin/edit.html.twig 
   Vista para la creación y actualización de preprocedimiento2 de aborto
#}
{% extends 'SonataAdminBundle::layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" href="{{ asset('bundles/minsalshcp/css/General/list.css') }}" type="text/css" media="all" />   
{#<link rel="stylesheet" href="{{ asset('bundles/minsalshcp/css/modulos/parto/trabajoparto/edit-trabajoparto.css') }}" type="text/css" media="all" />  #}
{% endblock %}

{%block javascripts %}
    {{parent()}}
<script src="{{ asset('bundles/minsalsiaps/js/datepicker/jquery.ui.datepicker-es.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/minsalsiaps/js/maskedinput/jquery.maskedinput.js') }}" type="text/javascript"></script>

<script src="{{ asset('bundles/minsalsiaps/js/funciones_generales.js') }}" type="text/javascript"></script>

<script src="{{ asset('bundles/minsalshcp/js/mask/jquery.mask.js') }}" type="text/javascript"></script>

<script src="{{ asset('bundles/minsalshcp/js/modulos/parto/new.js') }}" type="text/javascript"></script>

{% endblock %}

{% block form %}
    {{ sonata_block_render_event('sonata.admin.edit.form.top', { 'admin': admin, 'object': object }) }}

    {% set url = admin.id(object) is not null ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url)%}
<div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
    </div>
    {% else %}
    <form id="form_paciente"
              {% if admin_pool.getOption('form_type') == 'horizontal' %}class="form-horizontal"{% endif %}
          role="form"
          action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }}
          method="POST"
              {% if not admin_pool.getOption('html5_validate') %}novalidate="novalidate"{% endif %}
          >

            {% if form.vars.errors|length > 0 %}
              <div class="sonata-ba-form-error">
                    {{ form_errors(form) }}
                  </div>
            {% endif %}

            {% if admin.hasroute('list') and admin.isGranted('LIST')%}
                  <a style="position:relative;float:right;margin-bottom:20px;" class="btn btn-info" href="{{ admin.generateUrl('list') }}">
                      <span class="glyphicon glyphicon-list"></span>
                    {{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}
                  </a>
            {% endif %}

            {% block sonata_pre_fieldsets %}
                  <div class="row">
                {% endblock %}

                {% block sonata_tab_content %}
                    {% for name, form_group in admin.formgroups %}
                          <div class="{{ form_group.class|default('col-md-12') }}">
                              <div class="box box-success">
                                  <div class="box-header">
                                      <h4 class="box-title">
                                        {# admin.trans(name, {}, form_group.translation_domain) #}
                                          </h4>
                                      </div>
                                {#<div class="box{% if loop.first %} in{% endif %}" id="{{ admin.uniqid }}_{{ loop.index }}">#}
                                      <div class="box-body">
                                          <div class="sonata-ba-collapsed-fields">
                                        {% if form_group.description != false %}
                                                  <p>{{ form_group.description|raw }}</p>
                                        {% endif %}
                                                  <center>
                                              <h2>Registro de Aborto</h2>
                                            <div class="contenedor"><h3>Pre-Procedimiento (Parte 2)</h3>
                                                      <table class="dat_paciente" border='1'  >

                                                           <tr class="dat_paciente_sec">
                                                              <td colspan="4">Sintomatología</td>       
                                                          </tr>
                                                           <tr >
                                                              <td colspan="2"><label>Desde el inicio del primer síntoma</label></td>  
                                                              <td ><label>Sangrado</label></td> 
                                                              <td align=center ><label>Dolor</label></td>  
                                                              
                                                              
                                                          </tr>
                                                          
                                                          <tr >
                                                              <td >Días</td>  
                                                              <td  >Horas</td> 
                                                              <td rowspan="3" >{{ form_widget(form.prep2Sangrado) }}</td>                                                            
                                                              <td >{{ form_widget(form.prep2Dolor) }}</td>   
                                                              
                                                          </tr>
                                                          
                                                          <tr >
                                                              <td >
                                                              
                                                               <label class="mini" > {{ form_widget(form.prep2SintomatDias) }}</label>

                                                                 
                                                              </td>
 
                                                              <td > <label class="mini" > {{ form_widget(form.prep2SintomatHrs) }}</label> </td> 
                                                                 <td ><label>Puntuación (1-10)</label></td> 
                                                               
                                                              
                                                          </tr>
                                                          <tr >
                                                              <td colspan="2" ></td>  
                                                              <td ><label class="mini" >{{ form_widget(form.prep2DolorEscala) }}</label></td>  
                                                             
                                                              
                                                              
                                                          </tr>
                                                         
                                                          <tr class="dat_paciente_sec">
                                                              <td colspan="4">Exámen Clínico</td>       
                                                          </tr>
                                                           <tr >
                                                              <td colspan="2" >Conciencia</td>  
                                                              
                                                              <td >Piel y Mucosas</td>  
                                                              <td >Abdomen</td>  
                                                              
                                                          </tr>
                                                          <tr >
                                                              <td colspan="2" >{{ form_widget(form.prep2Conciencia) }}</td>  
                                                              <td >{{ form_widget(form.prep2PielMucosa) }}</td> 
                                                              <td >{{ form_widget(form.prep2Abdomen) }}</td>  
                                                              
                                                              
                                                          </tr>
                                                          <tr >
                                                              <td >fila 3.1</td>  
                                                              <td >fila 3.2 </td> 
                                                              <td >fila 3.3</td>  
                                                              <td >fila 3.4</td>    
                                                              
                                                          </tr>
                                                          <tr >
                                                              <td >fila 4.1</td>  
                                                              <td >fila 4.2 </td> 
                                                              <td >fila 4.3</td>  
                                                              <td >fila 4.4</td>  
                                                              
                                                          </tr>
                                                          <tr class="dat_paciente_sec">
                                                              <td colspan="4">Exámen Ginecológico </td>       
                                                          </tr>
                                                          <tr class="dat_paciente_sec">
                                                              <td colspan="4">Útero por exámen Bimanual </td>       
                                                          </tr>
                                                           <tr >
                                                              <td >Tamaño Uterino</td>  
                                                              <td >Posición </td> 
                                                              <td >Cuello Cerrado</td>  
                                                              <td >Restos</td>  
                                                              <td >vagina Normal</td> 
                                                          </tr>
                                                          <tr >
                                                              <td >{{ form_widget(form.prep2TamUterino) }}</td>  
                                                              <td >{{ form_widget(form.prep2Posicion) }}</td> 
                                                              <td >{{ form_widget(form.prep2CuelloCerrado) }}</td>  
                                                              <td >{{ form_widget(form.prep2Restos) }}</td>   
                                                              <td >{{ form_widget(form.prep2VaginaNormal) }}</td> 
                                                          </tr>
                                                          <tr >
                                                              <td >Semanas</td>  
                                                              <td >fila 3.2 </td> 
                                                              <td >fila 3.3</td>  
                                                              <td >fila 3.4</td>    
                                                              
                                                          </tr>
                                                          <tr >
                                                              <td >fila 4.1</td>  
                                                              <td >fila 4.2 </td> 
                                                              <td >fila 4.3</td>  
                                                              <td >fila 4.4</td>  
                                                              
                                                          </tr>
                                                           <tr class="dat_paciente_sec">
                                                              <td colspan="4">Ecografía </td>       
                                                          </tr>
                                                           <tr >
                                                              <td >Diámetro Longitudinal</td>  
                                                              <td colspan="2" align=center >Analgesia </td> 
                                                              <td ></td>  
                                                              
                                                          </tr>
                                                          <tr >
                                                              <td >{{ form_widget(form.prep2DiametroEco) }}</td>  
                                                              <td align="center">Solicitada</td> 
                                                              <td align="center" >Realizada</td>  
                                                              <td ></td>   
                                                              
                                                          </tr>
                                                          <tr >
                                                              <td >Tamaño del Útero (mm)</td>  
                                                              <td >{{ form_widget(form.prep2AnalgeSolicitada) }}</td> 
                                                              <td >{{ form_widget(form.prep2AnalgeRealizada) }}</td>  
                                                              <td >fila 3.4</td>    
                                                              
                                                          </tr>
                                                          <tr >
                                                              <td >{{ form_widget(form.prep2Tamanio) }}</td>  
                                                              <td >Id Preproced</td> 
                                                              <td >{{ form_widget(form.idPreproced1) }}</td>  
                                                              <td >fila 4.4</td>  
                                                              
                                                          </tr>
                                                                              </table>
                                                                          </center>
                                                                      </div>
                                                                  </div>
                                {#</div>#}
                                                              </div>
                                                          </div>
                    {% endfor %}
                {% endblock %}

                {% block sonata_post_fieldsets %}
                                                      </div>
            {% endblock %}

            {# {{ form_rest(form) }} #}
            {{ form_widget(form._token) }}
            {% block formactions %}
                                                      <div class="well well-small form-actions">
                    {% if app.request.isxmlhttprequest %}
                        {% if admin.id(object) is not null %}
                                                              <button type="submit" class="btn btn-success" name="btn_update"><i class="fa fa-save"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
                        {% else %}
                                                              <button type="submit" class="btn btn-success" name="btn_create"><i class="fa fa-plus-circle"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
                        {% endif %}
                    {% else %}
                        {% if admin.supportsPreviewMode %}
                                                              <button class="btn btn-info persist-preview" name="btn_preview" type="submit">
                                                                  <i class="fa fa-eye"></i>
                                {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                                                              </button>
                        {% endif %}
                        {% if admin.id(object) is not null %}
                                                              <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>


                            {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                                                              <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                            {% endif %}
                        {% else %}
                            {% if admin.hasroute('list') %}
                                                              <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> Guardar</button>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                                                          </div>
            {% endblock formactions %}
                                                      </form>
    {% endif %}
{% endblock %}
